.root {
  position: relative;
  width: 1440px;
  height: 1000px;
  align-items: flex-start;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 1000px;
  background-color: #5d5cd6;
}
.clipPathGroup {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 1000px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  left: 66px;
  top: 64px;
  width: 88.043px;
  height: 93.1191px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.august2126 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  position: absolute;
  left: 556px;
  top: 471px;
  width: 262px;
  height: 58px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.lagosNigeria {
  color: #fff;
  font-size: 50px;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  position: absolute;
  left: 506px;
  top: 521px;
  width: 361px;
  height: 58px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.becomeASponsor {
  position: absolute;
  left: 278px;
  top: 633px;
  width: 378px;
  height: 107px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 17px 24px;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
}
.frame14 {
  width: min-content;
  height: min-content;
}
.becomeASponsor2 {
  color: #5d5cd6;
  font-size: 30px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.speakAtHackFest {
  position: absolute;
  left: 718px;
  top: 633px;
  width: 378px;
  height: 107px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 17px 24px;
  outline: solid 5px #aeadea;
  outline-offset: -5px;
  border-radius: 16px;
  overflow: hidden;
}
.frame142 {
  width: min-content;
  height: 14px;
  align-items: center;
}
.speakAtHackFest2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.getTickets {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  position: absolute;
  left: 189px;
  top: 860px;
  width: 182px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.arrow1 {
  position: absolute;
  left: 371px;
  top: 870.1421px;
  width: 21.2132px;
  height: 21.2132px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.viewPastPictures {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  position: absolute;
  left: 556px;
  top: 860px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.arrow2 {
  position: absolute;
  left: 842px;
  top: 869px;
  width: 21.2132px;
  height: 21.2132px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.tweetsFrom2022 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
  position: absolute;
  left: 975px;
  top: 861px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.arrow3 {
  position: absolute;
  left: 1252px;
  top: 871px;
  width: 21.2132px;
  height: 21.2132px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.seeYouAtTheGenZHackFest2023 {
  position: absolute;
  left: 199px;
  top: 185px;
  width: 1041px;
  height: 222px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
}
.textBlock2 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 100px;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #ffb800;
  font-size: 100px;
  font-weight: 800;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
}
.label2 {
  color: #000;
  font-size: 100px;
  font-weight: 800;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
}
.label3 {
  color: #20b466;
  font-size: 100px;
  font-weight: 800;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
}
.label4 {
  color: #000;
  font-size: 100px;
  font-weight: 800;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
}
.label5 {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.03em;
}
