html,
body,
#root {
  margin-left: -10px;
  margin-top: -10px;
  padding: 0;
  min-height: auto;
  display: flex;
  flex-basis: auto;
  width: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; 
}

#root {
  position: relative;
}

body button:not(:disabled) {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

body label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
